<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="All Tests" parallel="false">
    <test name="Web Tests">
        <classes>
            <class name="Web.testCases.LoginTestScript"/>
        </classes>
    </test>
    <test name="Mobile Tests">
        <classes>
            <class name="mobile.testCases.MobileLoginTest""/>
        </classes>
    </test>
    <test name="API Tests">
        <classes>
            <class name="API.PostAPITest"/>
        </classes>
    </test>
</suite>